body {
  font-family: Arial, Helvetica, sans-serif;
}

div.header {
  display: flex;
  padding: 20px 0 20px 80px;
  background: #3f3f3f;
}

input.search {
  padding: 12px;
  width: 457px;
  font-size: 16px;
  border: none;
  outline: none;
  border-top-left-radius: 19px;
  border-bottom-left-radius: 19px;
}

::-webkit-input-placeholder {
  font-size: 16px;
  color: #cfcfcf;
  font-weight: bold;
}

button.search-button {
  padding: 12px;
  width: 115px;
  border: none;
  outline: none;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  background: #00998d;
}

div.content {
  padding-left: 40px;
  padding-top: 20px;
}

h1.search-head,
h1.show-name {
  margin: 0;
  padding-bottom: 10px;
  font-size: 42px;
  font-weight: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: flex;
  align-items: flex-start;
  padding-bottom: 25px;
}

li img {
  cursor: pointer;
}

div.name-genres {
  padding-left: 17px;
}

h2.show-name {
  margin: 0;
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: 100;
  color: #00998d;
  cursor: pointer;
}

p.genres {
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  padding: 18px 15px;
  background: #ebebeb;
}

span.genre {
  color: #00998d;
  font-weight: normal;
  cursor: pointer;
}

div.show {
  display: flex;
  padding-bottom: 30px;
}

div.summary p {
  margin: 0;
  padding-left: 17px;
}

div.episodes h2 {
  margin: 0;
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: normal;
}

div.episodes table {
  width: 100%;
  border-collapse: collapse;
}

thead tr th,
tbody tr td {
  padding: 10px;
}

thead tr {
  background: #f8f8f8;
}

tbody tr:nth-child(even) {
  background: #f1f1f1;
}

span.episode-name {
  color: #6bc3bc;
  cursor: pointer;
}

th {
  text-align: left;
  width: 50%;
}

td.airdate {
  color: #939aa7;
}
